#container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.characterCheckbox{
    width: 20%;
    float: left;
}

#popup{
    z-index: 0;
    opacity: 0;
    transition: opacity 1s;
}